{% extends 'templateStage.html.twig'%}

{% block title %}Prostages - Stage n°{{idStage}}{% endblock %}

{% block body%}

	<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{idStage}}</h1>

{% endblock %}