<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Prostage - Accueil</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><h1>Prostages</h1></div>
	</div>
	<div class="row">
		<div class="col-md-12"><h2>Stages</h2></div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<table class="table">
				<thead>
					<tr>
						<th>Intitulé</th>
						<th>Entreprise</th>
						<th>Formation</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Developpement d'une application
						</td>
						<td>
							ALTRAD
						</td>
						<td>
							DUT Info, DU TIC
						</td>
					</tr>
					<tr>
						<td>
							Developpement d'un site web
						</td>
						<td>
							Labeyrie
						</td>
						<td>
							LPM
						</td>
					</tr>
					<tr>
						<td>
							Gestion d'une base de données
						</td>
						<td>
							Kiloutou
						</td>
						<td>
							DUT Info
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<div class="card">
				<h5 class="card-header">Trier :</h5>
				<div class="card-body">
					<p class="card-text"><a href="{{path('prostage-formations')}}"> Par formation </a></p>
				</div>
				<div class="card-footer"><a href="{{path('prostage-entreprises')}}"> Par entreprise </a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	</div>
</body>
</html>