<h1>Bienvenue sur la page d'accueil de Prostages</h1>

<p> 
	Vous trouverez ci-dessous l'accès aux formations de l'IUT ainsi qu'au entreprises qui proposent un stage
	<ul>
			<li>
				<a href="{{path('prostage-formations')}}">Liste des formations de l'IUT</a>
			</li>
			<li>
				<a href="{{path('prostage-entreprises')}}">Liste des entreprises qui proposent un stage</a>
			</li>
	</ul>
</p>


